<html lang="en">
<head>
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/doorbot.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery-ui.touch-punch.min.js"></script>
  <script src="/doorbot.js"></script>
  <%= yield_content :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
