#RGB {
  height: 35px;
  background: rgb(128, 128, 128);
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
}
#RC .slider-selection {
  background: #FF8282;
}
#RC .slider-handle {
  background: red;
}
#GC .slider-selection {
  background: #65B063;
}
#GC .slider-handle {
  background: green;
}
#BC .slider-selection {
  background: #8283FF;
}
#BC .slider-handle {
  background: blue;
}
#IC .slider-selection {
  background: #C6C6C6;
}
#IC .slider-handle {
  background: grey;
}
#R, #G, #B, #I {
  width: 300px;
}
.slider.slider-horizontal {
  margin-left: 10px;
}
